<div class="testimonial-block-vertical">

    <div class="testimonial-block-vertical-quote">

        <p>{{ testimonial_quote }}</p>

    </div>

    <div class="testimonial-block-vertical-person">

        {{ testimonial_avatar }}

        <div>
            <p class="testimonial-block-vertical-name">{{ testimonial_person }}</p>

            <p class="testimonial-block-vertical-info">{{ testimonial_title }}, {{ testimonial_company }}</p>

        </div>

    </div>

</div>