<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />

		<link rel="stylesheet" href="/themes/foundation_patterns/css/foundation_patterns.css?{{ cacheBuster }}" media="all" />

		<!-- Global -->
		<link rel="stylesheet" href="/themes/foundation_patterns/templates/patterns/global/responsive-social-media-section/responsive-social-media-section.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="/themes/foundation_patterns/templates/patterns/global/read-more/read-more.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="/themes/foundation_patterns/templates/patterns/global/testimonial-block-vertical/testimonial-block-vertical.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="/themes/foundation_patterns/templates/patterns/global/pricing-table/pricing-table.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="/themes/foundation_patterns/templates/patterns/global/top-bar/animated/top-bar-animated.css?{{ cacheBuster }}" media="all" />

		<!-- Marketing -->
		<link rel="stylesheet" href="/themes/foundation_patterns/templates/patterns/marketing-site/content-section/marketing-site-content-section.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="/themes/foundation_patterns/templates/patterns/marketing-site/feature-section/marketing-site-feature-section.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="/themes/foundation_patterns/templates/patterns/marketing-site/footer/marketing-site-footer.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="/themes/foundation_patterns/templates/patterns/marketing-site/hero-section/marketing-site-hero-section.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="/themes/foundation_patterns/templates/patterns/global/testimonial-slider/testimonial-slider.css?{{ cacheBuster }}" media="all" />

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{ patternLabHead | raw }}
		<!-- End Pattern Lab -->
		
	</head>
	<body class="{{ bodyClass }}">
	