<footer class="marketing-site-footer">
  <div class="row medium-unstack">
    <div class="medium-4 columns">
      <h4 class="marketing-site-footer-name">{{ footer_name }}</h4>
      {{ footer_copy }}
      <ul class="menu marketing-site-footer-menu-social simple">
        {% block social_menu %}
          {{ social_links }}
        {% endblock %}
      </ul>
    </div>
    <div class="medium-4 columns">
       <h4 class="marketing-site-footer-title">Contact Info</h4>
      <div class="marketing-site-footer-block">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <p>{{ address }}</p>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <p>{{ phone }}</p>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <p>{{ email }}</p>
      </div>
    </div>
    <div class="medium-4 columns">
      <h4 class="marketing-site-footer-title">{{ additional_title }}</h4>
      {{ additional_content }}
    </div>
  </div>
  <div class="marketing-site-footer-bottom">
    <div class="row large-unstack align-middle">
      <div class="column">
        <p>&copy; {{ "now"|date("Y") }} {{ copyright }}</p>
      </div>
      <div class="column">
        <ul class="menu marketing-site-footer-bottom-links">
          {% block bottom_menu %}
            {{ bottom_links }}
          {% endblock %}
        </ul>
      </div>
    </div>
  </div>
</footer>