<li class="orbit-slide">
  <div class="testimonial-slide row">
    <div class="small-12 large-9 column">
      <div class="row align-middle testimonial-slide-content">
        <div class="small-12 medium-4 column hide-for-small-only profile-pic">
          {{ image }}
        </div>
        <div class="small-12 medium-8 column testimonial-slide-text">
          <p class="testimonial-slide-quotation">{{ quote_text }}</p>
          <div class="testimonial-slide-author-container">
            <div class="small-profile-pic show-for-small-only">
              {{ image_small }}
            </div>
            <p class="testimonial-slide-author-info">{{ attribution }}<br><i class="subheader">{{ attribution_subhead }}</i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>